<h2 appTitleSize >Students Temp</h2>

<ul class="px-0">
  <li *ngFor="let student of studentsTemp" class="card card-edit mb-2 bg-light ">
    <div class="row d-flex justify-content-center align-items-center p-4 ">
      <div class="col-12 px-0">
        <p class="card-text"><strong>Id:</strong> {{ student.id_ }} </p>
        <p class="card-text"><strong>Name:</strong> {{ student | studentName }} </p>
        <p class="card-text"><strong>E-mail:</strong> {{ student.email }} </p>
        <p class="card-text"><strong>Course:</strong> {{ student.course }} </p>
      </div>
    </div>
  </li>
</ul>

<!--button  class="btn btn-primary"(click)="addEstudiante()">add student test</!--button-->

<div class="form">
  <div class="row d-flex justify-content-center align-items-center p-4">
    <div class="col-12 px-0">
      <input type="text" [(ngModel)]="id_" placeholder="Id" >
      <input type="text" [(ngModel)]="name" placeholder="Name">
      <input type="text" [(ngModel)]="lastName" placeholder="Last name">
      <input type="text" [(ngModel)]="email" placeholder="E-mail">
      <input type="text" [(ngModel)]="course" placeholder="Course">
  </div>
  <div class="row">
    <div class="col-12">
      <button (click)="agregarEstudiante()">Add Student</button>
    </div>
  </div>
</div>

